In [10]:
# importando os dados
import pandas as pd

path = r'/home/lapisco/Desktop/ica/ICA/Dados/datasets/regressao/computer/data.csv'
data = pd.read_csv(path)

data = pd.DataFrame(data)
data.columns

Index(['6', ' 2', ' 1036', ' 103', ' 114', ' 1.00', ' 1.00.1', ' 172076',
       ' 355965', ' 2.0', ' 6527', ' 1851864', ' 90'],
      dtype='object')

In [11]:
# Pr√©-processamento
#   Normalizando os dados

from sklearn.preprocessing import MinMaxScaler

normalizador = MinMaxScaler()
normalizador.fit(data)

dados_normalizados = pd.DataFrame(normalizador.transform(data), columns = data.columns)

X = dados_normalizados.drop(columns=' 90')
y = dados_normalizados[' 90']

XB = data.drop(columns=' 90')
yB = data[' 90']

dados_normalizados.head()

,6,2,1036,103,114,1.00,1.00.1,172076,355965,2.0,6527,1851864,90
0,0.000542,0.000000,0.166021,0.037462,0.017251,0.019881,0.020148,0.016953,0.023688,0.000709,0.006265,0.504608,0.888889
1,0.033604,0.133913,0.298530,0.047440,0.029180,0.069583,0.023506,0.194692,0.148439,0.001488,0.016789,0.586036,0.858586
2,0.002710,0.000000,0.372416,0.047063,0.031198,0.049205,0.043318,0.207614,0.096363,0.000000,0.014868,0.433582,0.818182
3,0.022764,0.095652,0.310078,0.045745,0.043494,0.129225,0.077233,0.077982,0.293147,0.000850,0.023054,0.451948,0.797980
4,0.002710,0.001739,0.127826,0.023720,0.014682,0.019881,0.030222,0.087048,0.058625,0.000425,0.186769,0.450565,0.929293

In [12]:
from sklearn.model_selection import train_test_split

X_trainB, X_testB, y_trainB, y_testB = train_test_split(XB, yB, test_size=0.2, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
corr = data.corr()
corr

,6,2,1036,103,114,1.00,1.00.1,172076,355965,2.0,6527,1851864,90
6,1.000000,0.533732,0.191361,0.132867,0.119947,0.140275,0.110956,0.109622,0.081345,0.023375,-0.083173,-0.081262,-0.141385
2,0.533732,1.000000,0.143375,0.128381,0.101515,0.052496,0.038222,0.117461,0.091423,0.043556,-0.091067,-0.116434,-0.111200
1036,0.191361,0.143375,1.000000,0.696874,0.619987,0.446753,0.308980,0.352613,0.274442,0.000149,-0.387439,-0.350557,-0.323171
103,0.132867,0.128381,0.696874,1.000000,0.881073,0.416708,0.164065,0.504415,0.402136,0.041088,-0.286380,-0.301988,-0.332146
114,0.119947,0.101515,0.619987,0.881073,1.000000,0.376871,0.103635,0.333320,0.394490,0.014097,-0.248578,-0.237050,-0.272245
1.00,0.140275,0.052496,0.446753,0.416708,0.376871,1.000000,0.763971,0.280953,0.061133,-0.017400,-0.123302,-0.130401,-0.363268
1.00.1,0.110956,0.038222,0.308980,0.164065,0.103635,0.763971,1.000000,0.168082,0.000717,-0.006054,-0.158521,-0.153311,-0.288516
172076,0.109622,0.117461,0.352613,0.504415,0.333320,0.280953,0.168082,1.000000,0.505315,0.131644,-0.149781,-0.220939,-0.329113
355965,0.081345,0.091423,0.274442,0.402136,0.394490,0.061133,0.000717,0.505315,1.000000,0.191183,-0.149832,-0.226331,-0.289186
2.0,0.023375,0.043556,0.000149,0.041088,0.014097,-0.017400,-0.006054,0.131644,0.191183,1.000000,-0.094752,-0.433591,-0.629662
6527,-0.083173,-0.091067,-0.387439,-0.286380,-0.248578,-0.123302,-0.158521,-0.149781,-0.149832,-0.094752,1.000000,0.572524,0.270294
1851864,-0.081262,-0.116434,-0.350557,-0.301988,-0.237050,-0.130401,-0.153311,-0.220939,-0.226331,-0.433591,0.572524,1.000000,0.678545
90,-0.141385,-0.111200,-0.323171,-0.332146,-0.272245,-0.363268,-0.288516,-0.329113,-0.289186,-0.629662,0.270294,0.678545,1.000000

### Regress√£o Multipla

In [14]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lrB = LinearRegression()

lr.fit(X_train, y_train)
lrB.fit(X_trainB, y_trainB)

r = lr.score(X_test, y_test)
rB = lrB.score(X_testB, y_testB)

print('',"-"*50, '\nCom Normaliza√ß√£o: r = ', r, '\n', '-'*50, '\nSem Normaliza√ß√£o: rB = ', rB, '\n', '-'*50)

 --------------------------------------------------
Com Normaliza√ß√£o: r =  0.7222507624946017
 --------------------------------------------------
Sem Normaliza√ß√£o: rB =  0.7222507624946046
 --------------------------------------------------

### Regress√£o Simples

In [15]:
import numpy as np 

X = dados_normalizados[' 1851864']
y = dados_normalizados[' 90']

X = np.reshape(X, (-1,1))
y = np.reshape(y, (-1,1)).ravel()

XB = data[' 1851864']
yB = data[' 90']

XB = np.reshape(XB, (-1,1))
yB = np.reshape(yB, (-1,1)).ravel()
# Separando os dados para o treinamento

from sklearn.model_selection import train_test_split

X_trainB, X_testB, y_trainB, y_testB = train_test_split(XB, yB, test_size=0.2, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lrB = LinearRegression()

lr.fit(X_train, y_train)
lrB.fit(X_trainB, y_trainB)

r = lr.score(X_test, y_test)
rB = lrB.score(X_testB, y_testB)

print('',"-"*50, '\nCom Normaliza√ß√£o: r = ', r, '\n', '-'*50, '\nSem Normaliza√ß√£o: rB = ', rB, '\n', '-'*50)

 --------------------------------------------------
Com Normaliza√ß√£o: r =  0.41122258208392515
 --------------------------------------------------
Sem Normaliza√ß√£o: rB =  0.41122258208392504
 --------------------------------------------------

### SVR

In [17]:
import numpy as np 

X = dados_normalizados[' 1851864']
y = dados_normalizados[' 90']

X = np.reshape(X, (-1,1))
y = np.reshape(y, (-1,1)).ravel()

XB = data[' 1851864']
yB = data[' 90']

XB = np.reshape(XB, (-1,1))
yB = np.reshape(yB, (-1,1)).ravel()
# Separando os dados para o treinamento

from sklearn.model_selection import train_test_split

X_trainB, X_testB, y_trainB, y_testB = train_test_split(XB, yB, test_size=0.2, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
from sklearn.svm import SVR

svr = SVR(kernel= 'rbf')
svrB = SVR(kernel= 'rbf')

svr.fit(X_train, y_train)
svrB.fit(X_trainB, y_trainB)


r = svr.score(X_test, y_test)
rB = svrB.score(X_testB, y_testB)

print('',"-"*50, '\nCom Normaliza√ß√£o: r = ', r, '\n', '-'*50, '\nSem Normaliza√ß√£o: rB = ', rB, '\n', '-'*50)

 --------------------------------------------------
Com Normaliza√ß√£o: r =  0.7580785394552714
 --------------------------------------------------
Sem Normaliza√ß√£o: rB =  0.7739751745383646
 --------------------------------------------------